<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.capotcha.capotcha">
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name="${applicationName}"
        android:label="كابوتشا"
        android:icon="@mipmap/ic_launcher">
         <meta-data android:name="com.google.android.geo.API_KEY"
         android:value="AIzaSyBXQHPe5Q371Vkxr_TXEqyA82OcnieNq4M"/>
          <uses-library android:name="org.apache.http.legacy" 
          android:required="false"/>
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTop"
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize"
            android:exported="true"
            android:showWhenLocked="true"
            android:turnScreenOn="true"
            >
            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme"
              />
            <meta-data
              android:name="io.flutter.embedding.android.SplashScreenDrawable"
              android:resource="@drawable/launch_background"
              />
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <intent-filter>
      <action android:name="FLUTTER_NOTIFICATION_CLICK" />
      <category android:name="android.intent.category.DEFAULT" />
     </intent-filter>
        </activity>
            <meta-data android:name="com.google.firebase.messaging.default_notification_icon" android:resource="@drawable/logo_pure" />

        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>
</manifest>